<h2>Listing people</h2>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Location</th>
    <th>Age</th>
    <th>Married</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @people %>
</table>

<%= paginate @people %>
